* {
    background-color: navajowhite;
}

.grid-container {
    display: grid;
}

aside {
    background-color: cornflowerblue;
}

header {
    background-color: azure;
}

main {
    background-color: grey;
}